<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        ">

    <context:component-scan base-package="com.zuozuo.model.mongo">
        <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration" />
    </context:component-scan>

    <bean id="mongoWEB" name="mongoRs1" class="com.mongodb.Mongo" depends-on="mongopt" scope="singleton">
        <constructor-arg name="seeds" >
            <list>
                <ref bean="webServerMaster" />
            </list>
        </constructor-arg>
        <constructor-arg name="options" ref="mongopt" />
        <property name="readPreference" ref="readPreferenceSecondary" />
    </bean>

    <bean id="webServerMaster" class="com.mongodb.ServerAddress">
        <constructor-arg name="host" value="localhost" />
    </bean>

    <bean id="mongopt" class="com.mongodb.MongoOptions">
        <property name="connectionsPerHost" value="100" />
        <property name="threadsAllowedToBlockForConnectionMultiplier" value="10" />
        <property name="maxWaitTime" value="2000" />
        <property name="socketTimeout" value="2000" />
        <property name="socketKeepAlive" value="true" />
        <property name="safe" value="true" />
        <property name="w" value="0" />
        <property name="wtimeout" value="0" />
        <property name="fsync" value="false" />
        <property name="j" value="false" />
     </bean>

    <bean id="readPreferenceSecondary" class="com.mongodb.TaggableReadPreference.SecondaryPreferredReadPreference" />

    <bean id="albumDB" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongoWEB" />
        <constructor-arg name="databaseName" value="albumDB" />
        <property name="writeResultChecking">
            <util:constant static-field="org.springframework.data.mongodb.core.WriteResultChecking.NONE" />
        </property>
        <property name="writeConcern">
            <util:constant static-field="com.mongodb.WriteConcern.ACKNOWLEDGED" />
        </property>
        <property name="readPreference" ref="readPreferenceSecondary" />
    </bean>

    <bean id="qualityAlbumDAO" class="com.zuozuo.model.mongo.QualityAlbumDAO" />

    <bean id="albumService" class="com.zuozuo.service.impl.AlbumServiceImpl" />

    <!--<mongo:mongo host="localhost" port="27017">-->
           <!--&lt;!&ndash;<mongo:options connections-per-host="8"&ndash;&gt;-->
                          <!--&lt;!&ndash;threads-allowed-to-block-for-connection-multiplier="4"&ndash;&gt;-->
                          <!--&lt;!&ndash;connect-timeout="1000"&ndash;&gt;-->
                          <!--&lt;!&ndash;max-wait-time="1500"&ndash;&gt;-->
                          <!--&lt;!&ndash;auto-connect-retry="true"&ndash;&gt;-->
                          <!--&lt;!&ndash;socket-keep-alive="true"&ndash;&gt;-->
                           <!--&lt;!&ndash;socket-timeout="1500"&ndash;&gt;-->
                          <!--&lt;!&ndash;slave-ok="true"&ndash;&gt;-->
                          <!--&lt;!&ndash;write-number="1"&ndash;&gt;-->
                          <!--&lt;!&ndash;write-timeout="0"&ndash;&gt;-->
                          <!--&lt;!&ndash;write-fsync="true" />&ndash;&gt;-->
    <!--</mongo:mongo>-->

    <!--&lt;!&ndash;<mongo:mongo id="replicaSetMongo" replica-set="localhost:27017,localhost:27018" />&ndash;&gt;-->

    <!--<mongo:db-factory dbname="albumDB" mongo-ref="mongo" />-->

    <!--<bean id="albumDBTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">-->
        <!--<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />-->
   <!--</bean>-->


</beans>